body {
  margin: 20px 0;
  padding: 0 20px;
  line-height: 1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #202020;
  background-color: #fbfbfb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  display: flex;
  max-width: 700px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container p {
  margin: 0;
}

.container .dogs {
  width: 100%;
  background-color: #fff;
  background-clip: border-box;
  border: 6px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  overflow: hidden;
  margin-bottom: 50px;
  background-image: url("https://image.freepik.com/free-vector/cute-seamless-pattern-with-cartoon-baby-dog-bone-kids-animal-blue-background_71374-240.jpg");
}

.container .dogs__name {
  background-color: #f16820;
  text-align: center;
  padding: 10px;
}

.container .dogs__name p {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

.container .dogs__image {
  padding: 50px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%
}

.container .dogs__image img {
  position: relative;
  max-width: 100%;
  height: auto;
  border-radius: 10%;
  border: 7px solid white;
}
.container .dogs__mouseover {
  position: absolute;
}
.imageText {
  color: #f16820;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  background-color: white;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  padding: 5px 20px;
  border-radius: 5px;
  opacity: 0.9;
  text-align: center;
  justify-content: center;
  margin-top: 20%;
  margin-left: 20%;
  margin-right: 20%;
}
.container .dogs__meta {
  text-align: center;
  margin-top: 15px;
  padding: 0 10px;
}
.container .dogs__meta span {
  color: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  background-color: #ecd018;
  font-weight: bold;
  font-size: 25px;
  margin: 0;
  padding: 5px 20px;
  border-radius: 5px;
}

.container .dogs__likes {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
}
.container .dogs__likes span {
  width: 30%;
  background-color: #ff99c2;
  border-radius: 3px;
  padding: 7px;
  font-weight: 700;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 15px;
}